body
    {
        /* background-color: rgb(179, 172, 212);
         */
         /* background-color: black; */
        background-image: url("https://imgs.search.brave.com/YR09gwVJP91ebvgqJzH0u5p34nx8s0Of9yclSO_zpI0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA0LzI2LzczLzI0/LzM2MF9GXzQyNjcz/MjQ0MF9mTEU1ZDJz/UE5obGZ0ZEN5Zldl/SVpVTHJMbTNoeEZF/Uy5qcGc");
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
}

#userGuesses{
    background-color: dimgray;
    color: white;
    
}
#guessButton{
    background-color: rgb(175, 220, 176);
    border-radius: 5% solid white;
    size: 10vw  ;
    font-size: 2vw;

}

#numberInput{
    color: blue;
}

#prevGuess{
    color: yellow;
}

h1{
    color:chartreuse;
    background-color: white;
}
#guess{
    color: chartreuse;
    font-size: 5vw;
    background-color: white;
}
#hint{
    font-size: 5vw;;

}